<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niklas Rodenbüsch</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <header class="header" id="header">
        <div class="menu">
            <h2>This is the heading</h2>
        </div>
    </header>
    <main class="main" id="main">
        <section class="section introduction" id="sec-intro">

        </section>
        <section class="section timeline" id="sec-timeline">

        </section>
        <section class="section projects" id="sec-projects">

        </section>
    </main>
    <footer class="footer" id="footer">

    </footer>

    <script src="../scripts/index.js"></script>
</body>
</html>